@charset "UTF-8";
body {
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;
}

a:hover {
  opacity: 0.7;
}



.clear::after {
  content: "";
  clear: both;
  display: block;
}

/*==================================
header
==================================*/ 
 

 header{
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 100px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  background: #3F51B5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #00000029;
  opacity: 1;
  position: fixed;

}

  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-title {
    top: 10px;
    left: 40px;
    width: 205px;
    height: 40px;
    background: transparent url(../img/component.png); 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
  }
  
  .header-nav-item {
    float: left;
    margin-left: 25px;
    list-style: none;
    padding-top: 22px;

  }
  
  .header-nav-item a {
    top: 42px;
    left: 856px;
    width: 35px;
    height: 16px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 16px/27px YuGothic;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-right:16px;
  }


  
  /*==================================
title
==================================*/ 
.top {
    background-image:url(../img/pc.jpg);;
    background-size: cover;
    margin-left:0px;
    top: 250px;
    left: 0px;
    width: 1280px;
    height: 600px;
    margin-bottom: -50px;
    margin-left:-10px;
  }

.top-title{
    font: normal normal bold 64px/109px YuGothic;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    top: 192px;
    left: 288px;
    width: 704px;
    height: 64px;
    position: absolute;
}
.top-subtitle{
  padding-top: 32px;
  top: 310px;
  left: 532px;
  width: 216px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 24px/41px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  position: absolute;
  opacity: 1;
　
}
.btn-contact{

  top: 404px;
  left: 448px;
  width: 384px;
  height: 72px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  background: #3F51B5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  color:#FFFFFF;
  position: absolute;
  margin-top: 30px;
  font-size:24px;
}
.btn-contact-area{
    text-align: center;
   margin-top: 40px;
}

  /*==================================
card-list
==================================*/ 
.card{
  top: 700px;
  left: 0px;
  width: 1280px;
  height: 1042px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: -24px;
  margin-left: -10px;
}

.section-title{
  top: 149px;
  left: 585px;
  width: 110px;
  height: 48px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-82) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  position: relative;
  margin-right:40px;

} 

.section-title-blue-line{
  top: 152px;
  left: 610px;
  width: 60px;
  height: 4px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  background: #3F51B5 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;

}

.media{
  top: 256px;
  left: 40px;
  width: 384px;
  height: 321px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}


.card__item {
  display: inline-block;
  left:30px;
	font-size: 16px;
	width: calc(33.33333333% - 24px * 2 / 3);
  margin-right: 24px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  width: 384px;
  height: 321px;
  top: 212px;
  margin-bottom:16px;
  position: relative;
}



.media__img{
  top:16px;
  left: 20px;
  width: 352px;
  height: 195px;
  background: transparent url('img/card-img.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.media__title{
  white-space: nowrap;
  top:35px;
  left: 25px;
  width: 158px;
  height: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 20px/22px YuGothic;
  letter-spacing: 0px;
  color: #6F7579;
  opacity: 1;
  position: relative;
}

.media__content{

  top: 47px;
  left: 25px;
  width: 352px;
  height: 42px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 16px/24px YuGothic;
  letter-spacing: 0px;
  color: #6F7579;
  opacity: 1;
  position: relative;
}

  /*==================================
News
==================================*/ 
.container-news{
  top: 100px;
  left: 574px;
  width: 132px;
  height: 48px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-82) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 48px/82px YuGothic;
  letter-spacing: 0px;
  color: #333333;
  font-size: 48px;
  opacity: 1;
  position: relative;
}

.container-news h1{
   font-size: 48px;
}

.news-list{
  display: flex;
  list-style: none;
}

.section-news-blue-line{
  top: 40px;
  left: 45px;
  width: 60px;
  height: 4px;
  background: var(--unnamed-color-3f51b5) 0% 0% no-repeat padding-box;
  background: #3F51B5 0% 0% no-repeat padding-box;
  opacity: 1;
 position: absolute;
}

.news-date{
  top: -15px;
  right: 40px;
  width: 85px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 16px/27px YuGothic;
  letter-spacing: 0px;
  font-size: 16px;
  color: #333333;
  opacity: 1;
  white-space: nowrap;
  position: relative;
}
.btn-square  {
  top:0px;
  white-space: nowrap;
  font-size: 16px;
  right:20px;
  width: 60px;
  height: 22px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #666666 0% 0% no-repeat padding-box;
  color:black;

  border-radius: 3px;
  position: relative;
}

.btn-square p{
  font-size: 16px;
  top:-45px;
  position: relative;
  color: #EFEFEF;
} 

.btn-square2  {
  top:0px;
  white-space: nowrap;
  font-size: 16px;
  right:20px;
  width: 60px;
  height: 22px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:blue 0% 0% no-repeat padding-box;
  color:white;

  border-radius: 3px;
  position: relative;
}

.btn-square2 p{
  font-size: 16px;
  top:-45px;
  position: relative;
}


.btn-square3  {
  top:0px;
  white-space: nowrap;
  font-size: 16px;
  right:20px;
  width: 60px;
  height: 22px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:red 0% 0% no-repeat padding-box;
  color:white;

  border-radius: 3px;
  position: relative;
}

.btn-square3 p{
  font-size: 16px;
  top:-45px;
  position: relative;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.news-content{
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  left: 30px;
  top:-15px;
}

.container-news-area{
  top:70px;
  left: -265px;
  width: 800px;
  height: 45px;
  opacity: 1;
  position: relative;
  border-bottom: solid 1px black;
}

.container-news-footer h1{
  top: 722px;
  left: 613px;
  width: 40px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-e81919);
  text-align: left;
  font: normal normal bold 16px/27px YuGothic;
  letter-spacing: 0px;
  color: #E81919;
  opacity: 1;
  position: relative;
}
.container-news-footer h2{
  top: 694px;
  left: 663px;
  width: 1090px;
  height: 900px;
  background: transparent url('../img/news-arrow.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;

}































  
/*==================================
変数
==================================*/ 



:root {

/* Colors: */
--unnamed-color-3f51b5: #3F51B5;
--unnamed-color-e81919: #E81919;

/* Font/text values */
--unnamed-font-family-yugothic: YuGothic;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-12: 12px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-46: 46px;
--unnamed-font-size-47: 47px;
--unnamed-font-size-48: 48px;
--unnamed-font-size-64: 64px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-20: 20px;
--unnamed-line-spacing-22: 22px;
--unnamed-line-spacing-23: 23px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-27: 27px;
--unnamed-line-spacing-41: 41px;
--unnamed-line-spacing-60: 60px;
--unnamed-line-spacing-78: 78px;
--unnamed-line-spacing-80: 80px;
--unnamed-line-spacing-82: 82px;
--unnamed-line-spacing-109: 109px;
--unnamed-decoration-underline: underline;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
text-decoration: var(--unnamed-decoration-underline);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-cccccc);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-20);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-7 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-8 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-41);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-9 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-10 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-11 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-6f7579);
}
.unnamed-character-style-12 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e81919);
}
.unnamed-character-style-13 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e81919);
}
.unnamed-character-style-14 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-15 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-16 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-17 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
text-decoration: var(--unnamed-decoration-underline);
}
.unnamed-character-style-18 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-19 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-6f7579);
}
.unnamed-character-style-20 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-41);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-21 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-41);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-22 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-46);
line-height: var(--unnamed-line-spacing-78);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-23 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-47);
line-height: var(--unnamed-line-spacing-80);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-24 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-48);
line-height: var(--unnamed-line-spacing-60);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-25 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-48);
line-height: var(--unnamed-line-spacing-82);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}
.unnamed-character-style-26 {
font-family: var(--unnamed-font-family-yugothic);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-64);
line-height: var(--unnamed-line-spacing-109);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-333333);
}